<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ourproject.learningapp">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.ServiceClass"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.LettersActivity" />
        <activity android:name=".activities.LetterInfo" />

        <service
            android:name=".services.OnlineServiceClass"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.MadLetterInfo" />
        <activity android:name=".activities.MadLettersActivity" />
        <activity android:name=".activities.Quiz1Activity" />
    </application>

</manifest>